<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Specific Album</title>
    </head>
    <body>
        <h1>Album details</h1>

        {% for album in albums %}
        <article>
            <h2>{{album.title}}</h2> </a>
            <p>Released: {{album.release_year}}</p>
        </article>
        {% endfor %}
        <!-- <a href="/albums/1">Hypnotised</a>
        <a href="/albums/2">Rumours</a> -->
        <a href="/home">Back to home</a> 
    </body>
</html>